.honda-bg-info{
    background-color: #264653;
}

.hero-btn-buy-now{
    background-color: #E76F51;

    border-radius: 8px;
    color: white;
    padding: 10px 46px;
    border: none;
}
.honda-feature{
    margin-left: 10px;
}
 .honda-feature img{
    width: 288px;
    height: 243px;
}
.honda-feature .grayscale img{
    filter: grayscale(100%);
}
.user img{
    width: 149px;
    height: 149px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 40px;
}
.user p{
    line-height: 30px;
   
}
.fa-star.filled{
    color: #E77C40;;
}
.fa-star.empty{
    

    color: gray;
}

span{
    color:#E76F51; 
}


.accordion-item button{
    outline: none;
    border: none;

}
